/*  main#product > section#narrowdown */
body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > dt > dl.dl-narrowdown-header > dd, 
body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > dd > dl.dl-narrowdown-content > dd,
body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > dd > dl.dl-narrowdown-content > dd > dl > dd {
        text-align: center;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-count {
    width: 4em;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-type {
    width: 5em;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-company {
    width: 10em;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-company > input[name="company"] {
    width: 10em;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-color {
    width: 5em;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-color > input[name="color"] {
    width: 5em;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-length,
body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-width,
body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > * >  dl > dd.dd-narrowdown-height {
    width: 6em;
}

body#kbox > main#product > section#narrowdown  > form > dl#dl-narrowdown > dd > dl.dl-narrowdown-content > dd > dl.dl-flex {
    align-items: center;
}




/*  main#product > section#index */

body#kbox > main#product > section#index > dl#dl-products > dt > dl.dl-product-header > dd > dl > dd,
body#kbox > main#product > section#index > dl#dl-products > dd > dl.dl-product-content > dd > dl > dd {
    text-align: center;
}


body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-0 > dl > dd.dd-product-code {
    width: 5em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-0 > dl > dd.dd-product-type {
    width: 3em;
}    


body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-1 > dl > dd.dd-product-company {
    width: 10em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-1 > dl > dd.dd-product-name {
    width: 5em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-1 > dl > dd.dd-product-color {
    width: 4em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-1 > dl > dd.dd-product-classification {
    width: 12em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-1 > dl > dd.dd-product-extra {
    width: 5em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-2 > dl > dd.dd-product-sizes {
    width: 8em;
}

body#kbox > main#product > section#index > dl#dl-products > dd > dl.dl-product-content > dd.dd-product-group-2 > dl > dd.dd-product-sizes > dl {
    justify-content: space-between;
}

body#kbox > main#product > section#index > dl#dl-products > dd > dl.dl-product-content > dd.dd-product-group-2 > dl > dd.dd-product-sizes > dl > dd {
    width: 2em;
    text-align: right;
}
/* 
body#kbox > main#product > section#index > dl#dl-products > dd > dl.dl-product-content > dd.dd-product-group-2 > dl > dd.dd-product-sizes > dl > dd.dd-product-length,
body#kbox > main#product > section#index > dl#dl-products > dd > dl.dl-product-content > dd.dd-product-group-2 > dl > dd.dd-product-sizes > dl > dd.dd-product-width,
body#kbox > main#product > section#index > dl#dl-products > dd > dl.dl-product-content > dd.dd-product-group-2 > dl > dd.dd-product-sizes > dl > dd.dd-product-height {
    width: 2em;
    text-align: right;
} */

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-3 > dl > dd.dd-product-sheet {
    width: 8em;
}    

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-3 > dl > dd.dd-product-gram {
    width: 3em;
}    


body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-3 > dl > dd.dd-product-description {
    width: 4em;
}    


body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-3 > dl > dd.dd-product-printing {
    width: 3em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-3 > dl > dd.dd-product-cutting {
    width: 3em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-3 > dl > dd.dd-product-making {
    width: 3em;
}

body#kbox > main#product > section#index > dl#dl-products > * > dl > dd.dd-product-group-3 > dl > dd.dd-product-lot {
    width: 3em;
}

/* main#product > section#show */

body#kbox > main#product > section#show > dl#dl-product-show > dd > dl > dt {
    width: 10em;
}




/*  main#semi_product > section#index */

body#kbox > main#semi_product > section#index > dl#dl-semi_products > dt > dl.dl-semi_product-header > dd > dl > dd,
body#kbox > main#semi_product > section#index > dl#dl-semi_products > dd > dl.dl-semi_product-content > dd > dl > dd {
    text-align: center;
}


body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-0 > dl > dd.dd-semi_product-code {
    width: 5em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-0 > dl > dd.dd-semi_product-part {
    width: 3em;
}    


body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-1 > dl > dd.dd-semi_product-company {
    width: 10em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-1 > dl > dd.dd-semi_product-name {
    width: 5em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-1 > dl > dd.dd-semi_product-color {
    width: 4em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-1 > dl > dd.dd-semi_product-classification {
    width: 12em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-1 > dl > dd.dd-semi_product-extra {
    width: 5em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-2 > dl > dd.dd-semi_product-sizes {
    width: 8em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > dd > dl.dl-semi_product-content > dd.dd-semi_product-group-2 > dl > dd.dd-semi_product-sizes > dl {
    justify-content: space-between;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > dd > dl.dl-semi_product-content > dd.dd-semi_product-group-2 > dl > dd.dd-semi_product-sizes > dl > dd {
    width: 2em;
    text-align: right;
}

/* 
body#kbox > main#semi_product > section#index > dl#dl-semi_products > dd > dl.dl-product-content > dd.dd-semi_product-group-2 > dl > dd.dd-semi_product-sizes > dl > dd.dd-semi_product-length,
body#kbox > main#semi_product > section#index > dl#dl-semi_products > dd > dl.dl-product-content > dd.dd-semi_product-group-2 > dl > dd.dd-semi_product-sizes > dl > dd.dd-semi_product-width,
body#kbox > main#semi_product > section#index > dl#dl-semi_products > dd > dl.dl-product-content > dd.dd-semi_product-group-2 > dl > dd.dd-semi_product-sizes > dl > dd.dd-semi_product-height {
    width: 2em;
    text-align: right;
} */

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-3 > dl > dd.dd-semi_product-sheet {
    width: 8em;
}    

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-3 > dl > dd.dd-semi_product-gram {
    width: 3em;
}    


body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-3 > dl > dd.dd-semi_product-description {
    width: 4em;
}    


body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-3 > dl > dd.dd-semi_product-printing {
    width: 3em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-3 > dl > dd.dd-semi_product-cutting {
    width: 3em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-3 > dl > dd.dd-semi_product-making {
    width: 3em;
}

body#kbox > main#semi_product > section#index > dl#dl-semi_products > * > dl > dd.dd-semi_product-group-3 > dl > dd.dd-semi_product-lot {
    width: 3em;
}

/* main#semi_product > section#show */

body#kbox > main#semi_product > section#show > dl#dl-semi_product-show > dd > dl > dt {
    width: 10em;
}



