body#kbox > main#top > section#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body#kbox > main#top > section#login > form > dl#dl-login-form {
    min-width: 360px;
    width: fit-content;
    border: 1px solid;
    text-align: center;
}

body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 20px;
}

body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content > dt.dt-login-form-content-title {
    width: 120px;
}
body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content > dd.dd-login-form-content-value {
    width: 240px;
}

body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content > dd.dd-login-form-content-value > input[type="text"],
body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content > dd.dd-login-form-content-value > input[type="email"],
body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content > dd.dd-login-form-content-value > input[type="password"] {
    width: 200px;
}

body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content > dd.dd-login-form-content-message {
    width: 100%;
    text-align: left;
}

body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content.dl-login-form-footer {
    flex-direction: column;
}

body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content.dl-login-form-footer > dt.dt-login-form-content-submit,
body#kbox > main#top > section#login > form > dl#dl-login-form > dd > dl.dl-login-form-content.dl-login-form-footer > dd.dd-login-form-content-message {
    width: 100%;
    text-align: center;
}
