/*  body#sns > header */
    body#sns > header > h1 > a {
        text-align: center;
    }

/*  body#sns > main#index > section#index */
    body#sns > main#index > section {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }

    body#sns > main#index > section > h2 {
        text-align: center;
        margin: 10px 0;
    }

    body#sns > main#index > section#index > dl#dl-sns-index {
        width: 500px;
        margin: 0 auto;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > dd.dd-sns-index-body > dl > dd {
        margin: 10px 0;
        padding: 10px 0;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    body#sns > main#index > section#index > dl#dl-sns-index > *,
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl,
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group,
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl > dd  {
        width: 100%;
    }

    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group {
        margin: 10px 0;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group,
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl {
        display: flex;
        align-items: center;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl {
        flex-direction: column;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > dt.dt-sns-index-header > dl > dd.dd-sns-index-group > dl > dd {
        text-align: center;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-0 {
        width: 150px;
    }    
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-0 > dd {
        text-align: center;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-0 > dd.dd-sns-index-icon > img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > dd.dd-sns-index-body > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-0 > dd.dd-sns-index-name {
        font-size: 12px;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-1 {
        width: 250px;
    }    
    body#sns > main#index > section#index > dl#dl-sns-index > dd.dd-sns-index-body > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-1 > dd {
        text-align: left;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > dd.dd-sns-index-body > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-1 > dd.dd-sns-index-description {
        font-size: 12px;
    }
    /* body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-2 {
        width: 50px;
    }     */
    /* body#sns > main#index > section#index > dl#dl-sns-index > dd.dd-sns-index-body > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-2 > dd {
        text-align: right;
    } */
    body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-button {
        width: 100px;
    }    
    body#sns > main#index > section#index > dl#dl-sns-index > dd.dd-sns-index-body > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-button > dd {
        text-align: center;
    }
    body#sns > main#index > section#index > dl#dl-sns-index > dd.dd-sns-index-footer > dl > dd.dd-sns-index-group {
        justify-content: center;
    }
    
    @media screen and (max-width:540px) {
        body#sns > main#index > section#index > dl#dl-sns-index {
            width: 100%;
            margin: 0 auto;
        }
        body#sns > main#index > section#index > dl#dl-sns-index > dt.dt-sns-index-header {
            display: none;
        }
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl {
            width: 90%;
            margin: 0 auto;
        }
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group {
            flex-direction: column;
        }
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-0,
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-1,
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-button {
            width: 90%;
            justify-content: center;
            align-items: center;
        }
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-0,
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-button {
            flex-direction: row;
        }
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-0 > dd,
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl.dl-sns-index-group-button > dd {
            margin: 0 10px;
        }
        body#sns > main#index > section#index > dl#dl-sns-index > * > dl > dd.dd-sns-index-group > dl > dd {
            width: unset;
        }
    }



/*  body#sns > main#index > section#login */
    body#sns > main#index > section#login > form > dl#dl-sns-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > * {
        margin-bottom: 10px;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > *:last-child {
        margin-bottom: unset;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > dt > dl.dl-sns-login-header,
    body#sns > main#index > section#login > form > dl#dl-sns-login > dd > dl.dl-sns-login-body,
    body#sns > main#index > section#login > form > dl#dl-sns-login > dd > dl.dl-sns-login-footer {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
    }    
    body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dt.dt-sns-login-title {
        min-width: 120px;
        text-align: center;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value {
        width: 300px;
        text-align: center;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value > input,
    body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value > select,
    body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value > textarea {
        width: 280px;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value > textarea {
        height: 3em;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-message {
        width: 420px;
        text-align: center;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > dd > dl.dl-sns-login-footer {
        justify-content: center;
        align-items: center;
    }
    body#sns > main#index > section#login > form > dl#dl-sns-login > dd > dl.dl-sns-login-footer > * {
        margin: 0 10px;
    }
    @media screen and (max-width:540px) {
        body#sns > main#index > section#login > form > dl#dl-sns-login > dt,
        body#sns > main#index > section#login > form > dl#dl-sns-login > dd {
            width: 100%;
        }
        body#sns > main#index > section#login > form > dl#dl-sns-login > dt > dl.dl-sns-login-header,
        body#sns > main#index > section#login > form > dl#dl-sns-login > dd > dl.dl-sns-login-body,
        body#sns > main#index > section#login > form > dl#dl-sns-login > dd > dl.dl-sns-login-footer {
            flex-direction: column;
            width: 100%;
        }
        body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dt.dt-sns-login-title,
        body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value,
        body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-message {
            width: 100%;
            text-align: center;
        }
        body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value > input,
        body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value > select,
        body#sns > main#index > section#login > form > dl#dl-sns-login > * > dl > dd.dd-sns-login-value > textarea {
            width: 80%;
        }
    
    }

/*  body#sns > main#create > section#create */
    body#sns > main#create > section {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }

    body#sns > main#create > section > h2 {
        text-align: center;
        margin: 10px 0;
    }

    body#sns > main#create > section#create > form > dl#dl-sns-create {
        width: 500px;
        margin: 10px auto;
    }

    body#sns > main#create > section#create > form > dl#dl-sns-create > dt.dt-sns-create-header > dl,
    body#sns > main#create > section#create > form > dl#dl-sns-create > dd.dd-sns-create-body > dl,
    body#sns > main#create > section#create > form > dl#dl-sns-create > dd.dd-sns-create-footer > dl {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 10px 0;
    }
    
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dt.dt-sns-create-title {
        width: 150px;
        text-align: center;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value {
        width: 350px;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > input {
        width: 75%;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > textarea {
        width: 90%;
        height: 3em;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > dl {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > dl > dd {
        text-align: center;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > dl > dd.dd-sns-create-value-img {
        width: 100px;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > dl > dd.dd-sns-create-value-btn {
        width: 200px;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > dl > dd > img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > dd > dl.dl-sns-create-footer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body#sns > main#create > section#create > form > dl#dl-sns-create > dd > dl.dl-sns-create-footer > * {
        margin: 0 10px;
    }
    @media screen and (max-width:540px) {
        body#sns > main#create > section {
            width: 100%;
        }
    
        body#sns > main#create > section#create > form > dl#dl-sns-create {
            width: 90%;
        }
    
        body#sns > main#create > section#create > form > dl#dl-sns-create > dt.dt-sns-create-header > dl,
        body#sns > main#create > section#create > form > dl#dl-sns-create > dd.dd-sns-create-body > dl,
        body#sns > main#create > section#create > form > dl#dl-sns-create > dd.dd-sns-create-footer > dl {
            flex-direction: column;
            align-items: center;
        }
        body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dt.dt-sns-create-title,
        body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value {
            text-align: center;
            width: 100%;
        }
        body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > input,
        body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > textarea {
            width: 90%;
        }
        body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > dl > dd.dd-sns-create-value-img {
            width: 50%;
        }
        body#sns > main#create > section#create > form > dl#dl-sns-create > * > dl > dd.dd-sns-create-value > dl > dd.dd-sns-create-value-btn {
            width: 50%;
        }
    
    }



/*  body#sns > main#link > section#link */
    body#sns > main#link > section#link {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    body#sns > main#link > section#link > form {
        width: 100%;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link {
        width: 500px;
        margin: 10px auto;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > dt.dt-sns-link-header,
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-body,
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-footer,
    body#sns > main#link > section#link > form > dl#dl-sns-link > dt.dt-sns-link-header > dl,
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-body > dl,
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-footer > dl  {
        width: 100%;
    }

    body#sns > main#link > section#link > form > dl#dl-sns-link > dt.dt-sns-link-header > dl > dd.dd-sns-link-group,
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-body > dl > dd.dd-sns-link-group,
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-footer > dl > dd.dd-sns-link-group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
        padding: 10px 0;
        border-radius: 5px;
    }
    
    body#sns > main#link > section#link > form > dl#dl-sns-link > dt.dt-sns-link-header > dl > dd.dd-sns-link-group > dl > dd {
        text-align: center;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-body > dl > dd.dd-sns-link-group.dd-sns-link-group-active {
        background-color: rgba(255, 255, 255, 0.5);
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-body > dl > dd.dd-sns-link-group > dl > dd > span.sp-sns-link-title {
        display: none;
    }


    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl {
        display: flex;
        flex-direction: column;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0 {
        width: 50px;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0 > dd.dd-sns-link-active,
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0 > dd.dd-sns-link-order {
        text-align: center;
        width: 100%;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0 > dd.dd-sns-link-order {
        display: none;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0 > dd.dd-sns-link-order > input {
        width: 40px;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1 {
        width: 150px;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1 > dd.dd-sns-link-type,
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1 > dd.dd-sns-link-value {
        width: 100%;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1 > dd.dd-sns-link-type > select,
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1 > dd.dd-sns-link-value > input {
        width: 140px;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 {
        width: 200px;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 > dd.dd-sns-link-title,
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 > dd.dd-sns-link-description {
        width: 100%;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 > dd.dd-sns-link-title > input,
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 > dd.dd-sns-link-description > textarea {
        width: 190px;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 > dd.dd-sns-link-description > textarea {
        height: 3em;
    }
    /* body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-3 {
        display: none;
    } */
    body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-button {
        flex-direction: row;
        width: 100px;
        justify-content: space-evenly;
    }

    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-footer > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-action {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-footer > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-action > dd {
        margin: 0 10px;
    }
    body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-footer > dl > dd.dd-sns-link-group#dd-sns-link-sumple  {
        display: none;
    }
    @media screen and (max-width:540px) {
        body#sns > main#create > section {
            width: 100%;
        }
        body#sns > main#link > section#link > form > dl#dl-sns-link {
            width: 90%;
        }
        body#sns > main#link > section#link > form > dl#dl-sns-link > dt.dt-sns-link-header {
            display: none;
        }
        body#sns > main#link > section#link > form > dl#dl-sns-link > dt.dt-sns-link-header > dl > dd.dd-sns-link-group,
        body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-body > dl > dd.dd-sns-link-group,
        body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-footer > dl > dd.dd-sns-link-group {
            flex-direction: column;
        }
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-3,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-button {
            width: 100%;
        }
        body#sns > main#link > section#link > form > dl#dl-sns-link > dd.dd-sns-link-body > dl > dd.dd-sns-link-group > dl > dd > span.sp-sns-link-title {
            display: inline-block;
            width: 20%;
            min-width: 80px;
            text-align: center;
        }
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0 > dd.dd-sns-link-active {
            text-align: left;
        }

        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-0 > dd.dd-sns-link-order > input,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1 > dd.dd-sns-link-type > select,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-1 > dd.dd-sns-link-value > input,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 > dd.dd-sns-link-title > input,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-2 > dd.dd-sns-link-description > textarea,
        body#sns > main#link > section#link > form > dl#dl-sns-link > * > dl > dd.dd-sns-link-group > dl.dl-sns-link-group-button {
            width: 70%;
        }

    }


/*  body#sns > main#sns */
    body#sns > main#sns > section {
        width: 100%;
        max-width: 540px;
        margin: 20px auto;
    }
    body#sns > main#sns > section > p.p-sns-edit {
        width: 100%;
        text-align: center;
    }
    body#sns > main#sns > section > p.p-sns-edit > button {
        padding: 3px 5px;
        font-size: 10px;
        margin-bottom: 5px;
    }

/*  body#sns > main#sns > section#sns */
    body#sns > main#sns > section#sns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body#sns > main#sns > section#sns > img#img-sns-icon {
        border-radius: 100%;
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
    body#sns > main#sns > section#sns > h2#h2-sns-title {
        text-align: center;
    }
    body#sns > main#sns > section#sns > p#p-sns-description {
        margin: 0 50px;
    }

/*  body#sns > main#sns > section#sns-link */
    body#sns > main#sns > section#sns-link > dl#dl-sns-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd {
        background-color: rgba(255, 255, 255, 0.3);
        margin-bottom: 10px;
        width: 500px;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a {
        display: flex;
        width: 100%;
    }

    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > img.img-sns-link-body-logo {
        margin: 25px;
        width: 100px;
        height: 100px;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values {
        margin: 25px;
        width: 100%;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values > dt,
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values > dd {
        margin-bottom: 10px;
        width: 100%;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values > dd:last-child {
        margin-bottom: unset;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values > dd.dd-sns-link-body-description {
        font-size: 12px;
    }
    @media screen and (max-width:540px) {
        body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd {
            width: 75%;
        }
        body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a {
            flex-direction: column;
            align-items: center;
        }
        body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > img.img-sns-link-body-logo {
            margin: 10px;
            width: 50px;
            height: 50px;
        }
        body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values {
            margin: 10px;
        }
        body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values > dt,
        body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd > a > dl.dl-sns-link-body-values > dd {
            text-align: center;
        }
    }
    


    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-x {
        background-color: rgba(15, 20, 25, 1);
        color: #FFFFFF;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-x:hover {
        background-color: rgba(15, 20, 25, 0.9);
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-instagram {
        /* background-color: rgba(225, 48, 108, 1); */
        background: linear-gradient(to right,
        rgba(247, 207, 0, 1),
        rgba(246, 37, 2, 1) 45%,
        rgba(182, 47, 82, 1) 75%,
        rgba(113, 58, 166, 1));
        color: #FFFFFF;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-instagram:hover {
        /* background-color: rgba(225, 48, 108, 0.9); */
        background: linear-gradient(to right,
        rgba(247, 207, 0, 0.9),
        rgba(246, 37, 2, 0.9) 45%,
        rgba(182, 47, 82, 0.9) 75%,
        rgba(113, 58, 166, 0.9));
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-tiktok {
        background-color: rgba(0, 0, 0, 1);
        color: #FFFFFF;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-tiktok:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-line,
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-line_official {
        background-color: rgba(0, 185, 0, 1);
        color: #FFFFFF;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-line:hover,
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-line_official:hover {
        background-color: rgba(0, 185, 0, 0.9);
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-youtube {
        background-color: rgba(255, 0, 0, 1);
        color: #FFFFFF;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-youtube:hover {
        background-color: rgba(255, 0, 0, 0.9);
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-youtube {
        background-color: rgba(255, 0, 0, 1);
        color: #FFFFFF;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-youtube:hover {
        background-color: rgba(255, 0, 0, 0.9);
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-website {
        background-color: rgba(0, 0, 200, 1);
        color: #FFFFFF;
    }
    body#sns > main#sns > section#sns-link > dl#dl-sns-link > dd.dd-sns-link-website:hover {
        background-color: rgba(0, 0, 200, 0.9);
    }

/*  body#sns > footer */
    body#sns > footer > form[action="/sns/logout"] {
        display: block;
        text-align: right;
    }
    body#sns > footer > form[action="/sns/logout"] > span {
        margin: 0 10px;
        cursor: pointer;
    }