body#edit > main > section dl.dl-title-button {
    display: flex;
    align-items: center;
}
body#edit > main > section dl.dl-title-button > dd {
    margin-right: 2em;
}
body#edit > main > section dl.dl-title-button > dd:last-child {
    margin-right: unset;
}



body#edit > header > h1 {
    height: 2em;
}
body#edit > header > h1 > a {
    line-height: 2em;
}



body#edit > main#top > section#index > dl#dl-top-index > dd {
    margin-bottom: 1em;
}
body#edit > main#top > section#index > dl#dl-top-index > dd:last-child {
    margin-bottom: unset;
}

body#edit > main#top > section#index > dl#dl-top-index > dd > dl {
    display: flex;
    align-items: center;
}

body#edit > main#top > section#index > dl#dl-top-index > * > dl > dt.dt-edit-top-index-title {
    width: 10em;
    text-align: center;
}
body#edit > main#top > section#index > dl#dl-top-index > * > dl > dd.dd-edit-top-index-description {
    width: 25em;
}
body#edit > main#top > section#index > dl#dl-top-index > * > dl > dd.dd-edit-top-index-button {
    width: 5em;
    text-align: center;
}