body > main#multiple > h2 {
    text-align: center;
    padding: 15px 0;
}

body > main#multiple > section#index {
    margin: 0 10px;
}

body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body {
    height: 180px;
    width: 100%;
    margin-bottom: 10px;
}


body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl {
    display: flex;
}

body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 240px;
}

body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-thumbnail > img {
    max-width: 200px;
    max-height: 160px;
}

body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-values {
    width: 100%;
}
body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-values > dl {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-values > dl > dd.dd-multiple-index-body-values-title {
    width: 100%;
}
body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-values > dl > dd.dd-multiple-index-body-values-title > h3 > a {
    display: inline-block;
    width: 100%;
}

body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-values > dl > dd.dd-multiple-index-body-values-article {
    width: 100%;
    height: 100%;

}
body > main#multiple > section#index > dl#dl-multiple-index > dd.dd-multiple-index-body > dl > dd.dd-multiple-index-body-values > dl > dd.dd-multiple-index-body-values-date {
    width: 100%;
    margin-top: auto;
    text-align: right;
}
