/* common */
* {
    padding: 0;
    margin: 0;
    size: 0;
    font-size: 10px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}

body {
    width: auto;
    max-width: 1920px;
    margin: 0 auto;
}

/* color */
body > header > a > h1 {
    color: #FFFFFF;
    background-color: greenyellow;
}
body > footer > div#copyright {
    background-color: greenyellow;
}

/* header */

body > header > a > h1 {
    text-align: center;
    font-size: 30px;
}
body > header > nav#header-nav {
    width: 100%;
}
body > header > nav#header-nav > ul#header-nav-ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
body > header > nav#header-nav > ul#header-nav-ul > li {
    width: 100%;
}

/* footer */

body > footer > div#copyright {
    text-align: center;
    font-size: 8px;
}