/* common */
* {
    padding: 0;
    margin: 0;
    size: 0;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body {
    width: auto;
    max-width: 1920px;
    margin: 0 auto;
}

th {
    text-align: center;
}

input[type="submit"],button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    cursor: pointer;
}

textarea {
    padding: 5px 10px;
    resize: none;
}

div#to-the-top {
    position:fixed;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 100%;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}



/* color */
body > header > a > h1 {
    color: #FFFFFF;
    background-color: greenyellow;
}
body > footer > div#copyright {
    background-color: greenyellow;
}

body> main ul.ul-messages > li {
    background-color: greenyellow;
}

/* header */

body > header > a > h1 {
    text-align: center;
    font-size: 30px;
}
body > header > nav#header-nav-bar {
    width: 100%;
}
body > header > nav#header-nav-bar > ul#header-nav-bar-ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
body > header > nav#header-nav-bar > ul#header-nav-bar-ul > li {
    width: 100%;
    text-align: center;
}
body > header > nav#header-nav-bar > ul#header-nav-bar-ul > li > a {
    display: block;
    width: 100%;
    text-align: center;
}


body > header > menu.page-transition > ul {
    display: flex;
    flex-wrap: nowrap;
}
body > header > menu.page-transition > ul > li::after {
    padding: 0 10px;
    content: "\003E";
}
body > header > menu.page-transition > ul > li:last-child:after {
    content: unset;
}


/* mian */

body > main h2,
body > main h2 * {
    font-size: 24px;
}
body > main h3,
body > main h3 * {
    font-size: 20px;
}
body > main h4,
body > main h4 * {
    font-size: 18px;
}

/* ul#ul-messages */
body> main ul.ul-messages > li {
    width: 250px;
    height: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
}

body> main ul.ul-messages > li.li-messages-template > dl.dl-messages-template-buttons > dd.dd-messages-template-buttons-actions > dl > dd  {
    text-align: center;
}
body> main ul.ul-messages > li.li-messages-template > dl.dl-messages-template-buttons > dd.dd-messages-template-buttons-actions > dl > dd:hover  {
    background-color: #EEEEEE;
    cursor: pointer;
}

/* message-object */
    table.message-objects > tbody > tr > td > div > ul  {
        display: flex;
    }
    table.message-objects > tbody > tr > td > div > ul > li  {
        margin: 0 25px;
    }
    /* type=text */
    .message-object-text-text {
        width: 450px;
        height: 100px;
        background-color: greenyellow;
        border: none;
        border-radius: 10px;
    }
    .message-object-text-text.show {
        padding: 5px 10px;
        height: auto;
    }
    /* type=image */
    .message-object-image-original_content_url-input,
    .message-object-image-preview_image_url-input,
    .message-object-template-buttons-thumbnail_image_url-input {
        width: 200px;
    }
    .message-object-image-original_content_url-img,
    .message-object-image-preview_image_url-img,
    .message-object-template-buttons-thumbnail_image_url-img {
        width: 200px;
        height: auto;
    }
    .message-object-image-original_content_url-message_box,
    .message-object-image-preview_image_url-message_box,
    .message-object-template-buttons-thumbnail_image_url-message_box {
        width: 200px;
        height: auto;
    }
    .message-object-image-preview_image_url-img.show {
        width: auto;
        height: 200px;
        border-radius: 10px;
    }

    /* type=template */
    .message-object-template-altText {
        width: 200px;
    }
    /* type=template template_type=buttons */
        .message-object-template-buttons {
            border: 1px solid #000000;
        }

        .message-object-template-buttons-title {
            border: none;
        }
        .message-object-template-buttons-text {
            border: none;
        }

    /* template_type=buttons */

/* user-app-image */
ul.image-directory-index {
    display: flex;
    flex-wrap: wrap;
}
ul.image-directory-index > li {
    margin: 5px 10px;
}
ul.image-file-index {
    display: flex;
    flex-wrap: wrap;
}
ul.image-file-index > li {
    margin: 5px 10px;
}
ul.image-file-index > li > dl > dd > img {
    width: 150px;
    height: auto;
}

/* footer */

body > footer > div#copyright {
    text-align: center;
    font-size: 10px;
}