/* common */
* {
    padding: 0;
    margin: 0;
    size: 0;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}

.hidden {
    display: none !important;
}

body {
    width: auto;
    max-width: 1920px;
    margin: 0 auto;
}

th {
    text-align: center;
}

input[type="submit"],button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
input[type="submit"],button:hover {
    cursor: pointer;
}

/* color */
body > header > a > h1 {
    color: #FFFFFF;
    background-color: greenyellow;
}
body > footer > div#copyright {
    background-color: greenyellow;
}

body> main ul.ul-messages > li {
    background-color: greenyellow;
}

/* header */

body > header > a > h1 {
    text-align: center;
    font-size: 30px;
}
body > header > nav#header-nav {
    width: 100%;
}
body > header > nav#header-nav > ul#header-nav-ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
body > header > nav#header-nav > ul#header-nav-ul > li {
    width: 100%;
    text-align: center;
}
body > header > nav#header-nav > ul#header-nav-ul > li > a {
    display: block;
    width: 100%;
    text-align: center;
}

/* mian */

body > main h2,
body > main h2 * {
    font-size: 24px;
}
body > main h3,
body > main h3 * {
    font-size: 20px;
}
body > main h4,
body > main h4 * {
    font-size: 18px;
}

/* ul#ul-messages */
body> main ul.ul-messages > li {
    width: 250px;
    height: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
}

body> main ul.ul-messages > li.li-messages-template {
    background-color: red;
}
body> main ul.ul-messages > li.li-messages-template > dl.dl-messages-template-buttons {
    background-color: blue;
}
body> main ul.ul-messages > li.li-messages-template > dl.dl-messages-template-buttons > dd.dd-messages-template-buttons-actions  {
    background-color: green;
}


body> main ul.ul-messages > li.li-messages-template > dl.dl-messages-template-buttons > dd.dd-messages-template-buttons-actions > dl > dd  {
    text-align: center;
}
body> main ul.ul-messages > li.li-messages-template > dl.dl-messages-template-buttons > dd.dd-messages-template-buttons-actions > dl > dd:hover  {
    background-color: #EEEEEE;
    cursor: pointer;
}



/* footer */

body > footer > div#copyright {
    text-align: center;
    font-size: 10px;
}