/* common */
* {
    padding: 0;
    margin: 0;
    size: 0;
    font-size: 10px;
    color: #000000;
    background-color: #FFFFFF;
}

body {
    width: auto;
    max-width: 1920px;
    margin: 0 auto;
}

/* background-color */
body > header > h1 {
    background-color: greenyellow;
}
body > div#copyright {
    background-color: greenyellow;
}

/*  */

body > header > h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

body > div#copyright {
    text-align: center;
    font-size: 8px;
}