/*  body#line > main#group > section#index */
    body#line > main#group > section {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }

    body#line > main#group > section > h2 {
        text-align: center;
        margin: 10px 0;
    }

    body#line > main#group > section#index > dl#dl-line-group-index {
        width: 500px;
        margin: 0 auto;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > dd.dd-line-group-index-body > dl > dd {
        margin: 10px 0;
        padding: 10px 0;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    body#line > main#group > section#index > dl#dl-line-group-index > *,
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl,
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group,
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl > dd  {
        width: 100%;
    }

    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group {
        margin: 10px 0;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group,
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl {
        display: flex;
        align-items: center;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl {
        flex-direction: column;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > dt.dt-line-group-index-header > dl > dd.dd-line-group-index-group > dl > dd {
        text-align: center;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-0 {
        width: 100px;
    }    
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-0 > dd {
        text-align: center;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-0 > dd.dd-line-group-index-icon > img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > dd.dd-line-group-index-body > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-0 > dd.dd-line-group-index-name {
        font-size: 12px;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-1 {
        width: 250px;
    }    
    body#line > main#group > section#index > dl#dl-line-group-index > dd.dd-line-group-index-body > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-1 > dd {
        text-align: left;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > dd.dd-line-group-index-body > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-1 > dd.dd-line-group-index-description {
        font-size: 12px;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-2 {
        width: 50px;
    }    
    body#line > main#group > section#index > dl#dl-line-group-index > dd.dd-line-group-index-body > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-2 > dd {
        text-align: right;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-button {
        width: 100px;
    }    
    body#line > main#group > section#index > dl#dl-line-group-index > dd.dd-line-group-index-body > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-button > dd {
        text-align: center;
    }
    body#line > main#group > section#index > dl#dl-line-group-index > dd.dd-line-group-index-footer > dl > dd.dd-line-group-index-group {
        justify-content: center;
    }
    
    @media screen and (max-width:540px) {
        body#line > main#group > section#index > dl#dl-line-group-index {
            width: 100%;
            margin: 0 auto;
        }
        body#line > main#group > section#index > dl#dl-line-group-index > dt.dt-line-group-index-header {
            display: none;
        }
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl {
            width: 90%;
            margin: 0 auto;
        }
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group {
            flex-direction: column;
        }
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-0,
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-1,
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-button {
            width: 90%;
            justify-content: center;
            align-items: center;
        }
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-0,
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-button {
            flex-direction: row;
        }
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-0 > dd,
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl.dl-line-group-index-group-button > dd {
            margin: 0 10px;
        }
        body#line > main#group > section#index > dl#dl-line-group-index > * > dl > dd.dd-line-group-index-group > dl > dd {
            width: unset;
        }
    }



/*  body#line > main#group > section#login */
    body#line > main#group > section#login > form > dl#dl-line-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > * {
        margin-bottom: 10px;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > *:last-child {
        margin-bottom: unset;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > dt > dl.dl-line-login-header,
    body#line > main#group > section#login > form > dl#dl-line-login > dd > dl.dl-line-login-body,
    body#line > main#group > section#login > form > dl#dl-line-login > dd > dl.dl-line-login-footer {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
    }    
    body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dt.dt-line-login-title {
        min-width: 120px;
        text-align: center;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value {
        width: 300px;
        text-align: center;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value > input,
    body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value > select,
    body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value > textarea {
        width: 280px;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value > textarea {
        height: 3em;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-message {
        width: 420px;
        text-align: center;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > dd > dl.dl-line-login-footer {
        justify-content: center;
        align-items: center;
    }
    body#line > main#group > section#login > form > dl#dl-line-login > dd > dl.dl-line-login-footer > * {
        margin: 0 10px;
    }
    @media screen and (max-width:540px) {
        body#line > main#group > section#login > form > dl#dl-line-login > dt,
        body#line > main#group > section#login > form > dl#dl-line-login > dd {
            width: 100%;
        }
        body#line > main#group > section#login > form > dl#dl-line-login > dt > dl.dl-line-login-header,
        body#line > main#group > section#login > form > dl#dl-line-login > dd > dl.dl-line-login-body,
        body#line > main#group > section#login > form > dl#dl-line-login > dd > dl.dl-line-login-footer {
            flex-direction: column;
            width: 100%;
        }
        body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dt.dt-line-login-title,
        body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value,
        body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-message {
            width: 100%;
            text-align: center;
        }
        body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value > input,
        body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value > select,
        body#line > main#group > section#login > form > dl#dl-line-login > * > dl > dd.dd-line-login-value > textarea {
            width: 80%;
        }
    
    }

