* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display:none;
}

body {
    background-color: #FFFFFF;
}

textarea {
    resize: none;
}

.hidden {
    display: none !important;
}

body > main > section {
    width: 100vw;
    margin: 0 auto;
}

/* iframe-to */

    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to {
        overflow-y: scroll;
        height: 100vh;
    }
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dt#dt-line-message-iframe-to-header,
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-footer {
        height: 10vh;
    }

    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dt#dt-line-message-iframe-to-header > dl.dl-line-message-iframe-to-button ,
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-footer > dl.dl-line-message-iframe-to-button {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-body {
        display: flex;
        flex-wrap: wrap;
    }
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-body > dl.dl-line-message-iframe-to-value {
        display: flex;
        flex-wrap: nowrap;
    }

    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dt#dt-line-message-iframe-to-header > dl.dl-line-message-iframe-to-button > dd,
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-footer > dl.dl-line-message-iframe-to-button > dd {
        text-align: center;
        cursor: default;
    }

    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-body > dl.dl-line-message-iframe-to-value,
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dt#dt-line-message-iframe-to-header > dl.dl-line-message-iframe-to-button > dd.dd-line-message-iframe-to-button-false,
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-footer > dl.dl-line-message-iframe-to-button > dd.dd-line-message-iframe-to-button-false {
        width: 23%;
        margin: 5px 1%;
        height: 2em;
        line-height: 2em;
        background-color: rgba(100, 200, 255, 1);
        border-radius: 1em;
    }
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-body > dl.dl-line-message-iframe-to-value.dl-line-message-iframe-to-checked,
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dt#dt-line-message-iframe-to-header > dl.dl-line-message-iframe-to-button > dd.dd-line-message-iframe-to-button-true,
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-footer > dl.dl-line-message-iframe-to-button > dd.dd-line-message-iframe-to-button-true {
        width: 23%;
        margin: 5px 1%;
        height: 2em;
        line-height: 2em;
        color: #FFFFFF;
        background-color: rgba(50, 50, 255, 1);
        border-radius: 1em;
    }

    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-body > dl.dl-line-message-iframe-to-value > dt.dt-line-message-iframe-to-checkbox {
        display: none;
    }
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-body > dl.dl-line-message-iframe-to-value > dd.dd-line-message-iframe-to-name {
        width: 100%;
        height: 100%;
    }
    body#line-iframe > main#line-iframe-to > section#select > form > dl#dl-line-message-iframe-to > dd#dd-line-message-iframe-to-body > dl.dl-line-message-iframe-to-value > dd.dd-line-message-iframe-to-name > label {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 1em;
        text-align: center;
    }

/* iframe-message */
    body#line-iframe > main#line-iframe-message > section {
        width: 100%;
    }
    body#line-iframe > main#line-iframe-message > section#create {
        overflow-y: scroll;
        height: 40vh;
    }
    body#line-iframe > main#line-iframe-message > section#select {
        overflow-y: scroll;
        height: 60vh;
    }
    body#line-iframe > main#line-iframe-message > section#create > form > dl#dl-line-message-iframe-message-create,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message-select {
        width: 540px;
        margin: 0 auto;
    }
/*  body#line-iframe > main#line-iframe-message > section#create */
    body#line-iframe > main#line-iframe-message > section#create > form > dl#dl-line-message-iframe-message-create > * > dl.dl-line-message-iframe-message-create-group {
        display: flex;
    }
    body#line-iframe > main#line-iframe-message > section#create > form > dl#dl-line-message-iframe-message-create > * > dl.dl-line-message-iframe-message-create-group > dt.dt-line-message-iframe-message-create-title {
        width: 200px;
        text-align: center;
    }
    body#line-iframe > main#line-iframe-message > section#create > form > dl#dl-line-message-iframe-message-create > * > dl.dl-line-message-iframe-message-create-group > dd.dd-line-message-iframe-message-create-value {
        width: 340px;
    }
    body#line-iframe > main#line-iframe-message > section#create > form > dl#dl-line-message-iframe-message-create > * > dl.dl-line-message-iframe-message-create-group > dd.dd-line-message-iframe-message-create-value > textarea {
        width: 300px;
        height: 15em;
    }
    body#line-iframe > main#line-iframe-message > section#create > form > dl#dl-line-message-iframe-message-create > * > dl.dl-line-message-iframe-message-create-group > dd.dd-line-message-iframe-message-create-button {
        text-align: center;
        width: 100%;
    }

/*  body#line-iframe > main#line-iframe-message > section#select */
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form  {
        width: 500px;
        margin: 0 auto;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > dd#dd-line-message-iframe-message-select-body > form > dl.dl-line-message-iframe-message-select-group {
        border-radius: 10px;
        margin: 1em 0;
        background-color: rgba(200, 255, 200,  1);
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > dd#dd-line-message-iframe-message-select-body > form > dl.dl-line-message-iframe-message-select-group.dl-line-message-iframe-message-select-group-selected {
        background-color: rgba(100, 255, 100,  1);
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group > dd.dd-line-message-iframe-message-select-query {
        text-align: center;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group > dt.dt-line-message-iframe-message-select-radio {
        display: none;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group > dd.dd-line-message-iframe-message-select-name {
        height: 2em;
        line-height: 2em;
        text-align: center;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group > dd.dd-line-message-iframe-message-select-value {
        height: 4em;
        padding: 0.5em 0;
        overflow-y: scroll;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group > dd.dd-line-message-iframe-message-select-button {
        height: 2em;
        line-height: 2em;
        text-align: center;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group > dd > label {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
    }
    body#line-iframe > main#line-iframe-message > section#select > dl#dl-line-message-iframe-message-select > * > form > dl.dl-line-message-iframe-message-select-group > dd > label:hover {
        cursor: pointer;
    }

    #dl-line-message-iframe-message-select-sumple {
        display: none !important;
    }
/* 
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message {
        overflow-y: scroll;
        height: 100vh;
    }
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dt#dt-line-message-iframe-message-header,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-footer {
        height: 10vh;
    }

    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dt#dt-line-message-iframe-message-header > dl.dl-line-message-iframe-message-button ,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-footer > dl.dl-line-message-iframe-message-button {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-body {
        display: flex;
        flex-wrap: wrap;
    }
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-body > dl.dl-line-message-iframe-message-value {
        display: flex;
        flex-wrap: nowrap;
    }

    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dt#dt-line-message-iframe-message-header > dl.dl-line-message-iframe-message-button > dd,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-footer > dl.dl-line-message-iframe-message-button > dd {
        text-align: center;
        cursor: default;
    }

    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-body > dl.dl-line-message-iframe-message-value,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dt#dt-line-message-iframe-message-header > dl.dl-line-message-iframe-message-button > dd.dd-line-message-iframe-message-button-false,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-footer > dl.dl-line-message-iframe-message-button > dd.dd-line-message-iframe-message-button-false {
        width: 23%;
        margin: 5px 1%;
        height: 2em;
        line-height: 2em;
        background-color: rgba(100, 200, 255, 1);
        border-radius: 1em;
    }
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-body > dl.dl-line-message-iframe-message-value.dl-line-message-iframe-message-checked,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dt#dt-line-message-iframe-message-header > dl.dl-line-message-iframe-message-button > dd.dd-line-message-iframe-message-button-true,
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-footer > dl.dl-line-message-iframe-message-button > dd.dd-line-message-iframe-message-button-true {
        width: 23%;
        margin: 5px 1%;
        height: 2em;
        line-height: 2em;
        color: #FFFFFF;
        background-color: rgba(50, 50, 255, 1);
        border-radius: 1em;
    }

    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-body > dl.dl-line-message-iframe-message-value > dt.dt-line-message-iframe-message-checkbox {
        display: none;
    }
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-body > dl.dl-line-message-iframe-message-value > dd.dd-line-message-iframe-message-name {
        width: 100%;
        height: 100%;
    }
    body#line-iframe > main#line-iframe-message > section#select > form > dl#dl-line-message-iframe-message > dd#dd-line-message-iframe-message-body > dl.dl-line-message-iframe-message-value > dd.dd-line-message-iframe-message-name > label {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 1em;
        text-align: center;
    } */

