/*  body#line > header */
    body#line > header > h1 > a {
        text-align: center;
    }


/*  body#line > main#create > section#create */
    body#line > main#create > section {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }

    body#line > main#create > section > h2 {
        text-align: center;
        margin: 10px 0;
    }

    body#line > main#create > section#create > form > dl#dl-line-create {
        width: 500px;
        margin: 10px auto;
    }

    body#line > main#create > section#create > form > dl#dl-line-create > dt.dt-line-create-header > dl,
    body#line > main#create > section#create > form > dl#dl-line-create > dd.dd-line-create-body > dl,
    body#line > main#create > section#create > form > dl#dl-line-create > dd.dd-line-create-footer > dl {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 10px 0;
    }
    
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dt.dt-line-create-title {
        width: 150px;
        text-align: center;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value {
        width: 350px;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > input {
        width: 75%;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > textarea {
        width: 90%;
        height: 3em;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > dl {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > dl > dd {
        text-align: center;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > dl > dd.dd-line-create-value-img {
        width: 100px;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > dl > dd.dd-line-create-value-btn {
        width: 200px;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > dl > dd > img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > dd > dl.dl-line-create-footer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    body#line > main#create > section#create > form > dl#dl-line-create > dd > dl.dl-line-create-footer > * {
        margin: 0 10px;
    }
    @media screen and (max-width:540px) {
        body#line > main#create > section {
            width: 100%;
        }
    
        body#line > main#create > section#create > form > dl#dl-line-create {
            width: 90%;
        }
    
        body#line > main#create > section#create > form > dl#dl-line-create > dt.dt-line-create-header > dl,
        body#line > main#create > section#create > form > dl#dl-line-create > dd.dd-line-create-body > dl,
        body#line > main#create > section#create > form > dl#dl-line-create > dd.dd-line-create-footer > dl {
            flex-direction: column;
            align-items: center;
        }
        body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dt.dt-line-create-title,
        body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value {
            text-align: center;
            width: 100%;
        }
        body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > input,
        body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > textarea {
            width: 90%;
        }
        body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > dl > dd.dd-line-create-value-img {
            width: 50%;
        }
        body#line > main#create > section#create > form > dl#dl-line-create > * > dl > dd.dd-line-create-value > dl > dd.dd-line-create-value-btn {
            width: 50%;
        }
    
    }



/*  body#line > main#link > section#link */
    body#line > main#link > section#link {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    body#line > main#link > section#link > form {
        width: 100%;
    }
    body#line > main#link > section#link > form > dl#dl-line-link {
        width: 500px;
        margin: 10px auto;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > dt.dt-line-link-header,
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-body,
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-footer,
    body#line > main#link > section#link > form > dl#dl-line-link > dt.dt-line-link-header > dl,
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-body > dl,
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-footer > dl  {
        width: 100%;
    }

    body#line > main#link > section#link > form > dl#dl-line-link > dt.dt-line-link-header > dl > dd.dd-line-link-group,
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-body > dl > dd.dd-line-link-group,
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-footer > dl > dd.dd-line-link-group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
        padding: 10px 0;
        border-radius: 5px;
    }
    
    body#line > main#link > section#link > form > dl#dl-line-link > dt.dt-line-link-header > dl > dd.dd-line-link-group > dl > dd {
        text-align: center;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-body > dl > dd.dd-line-link-group.dd-line-link-group-active {
        background-color: rgba(255, 255, 255, 0.5);
    }
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-body > dl > dd.dd-line-link-group > dl > dd > span.sp-line-link-title {
        display: none;
    }


    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl {
        display: flex;
        flex-direction: column;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0 {
        width: 50px;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0 > dd.dd-line-link-active,
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0 > dd.dd-line-link-order {
        text-align: center;
        width: 100%;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0 > dd.dd-line-link-order {
        display: none;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0 > dd.dd-line-link-order > input {
        width: 40px;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1 {
        width: 150px;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1 > dd.dd-line-link-type,
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1 > dd.dd-line-link-value {
        width: 100%;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1 > dd.dd-line-link-type > select,
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1 > dd.dd-line-link-value > input {
        width: 140px;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 {
        width: 200px;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 > dd.dd-line-link-title,
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 > dd.dd-line-link-description {
        width: 100%;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 > dd.dd-line-link-title > input,
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 > dd.dd-line-link-description > textarea {
        width: 190px;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 > dd.dd-line-link-description > textarea {
        height: 3em;
    }
    /* body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-3 {
        display: none;
    } */
    body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-button {
        flex-direction: row;
        width: 100px;
        justify-content: space-evenly;
    }

    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-footer > dl > dd.dd-line-link-group > dl.dl-line-link-group-action {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-footer > dl > dd.dd-line-link-group > dl.dl-line-link-group-action > dd {
        margin: 0 10px;
    }
    body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-footer > dl > dd.dd-line-link-group#dd-line-link-sumple  {
        display: none;
    }
    @media screen and (max-width:540px) {
        body#line > main#create > section {
            width: 100%;
        }
        body#line > main#link > section#link > form > dl#dl-line-link {
            width: 90%;
        }
        body#line > main#link > section#link > form > dl#dl-line-link > dt.dt-line-link-header {
            display: none;
        }
        body#line > main#link > section#link > form > dl#dl-line-link > dt.dt-line-link-header > dl > dd.dd-line-link-group,
        body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-body > dl > dd.dd-line-link-group,
        body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-footer > dl > dd.dd-line-link-group {
            flex-direction: column;
        }
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-3,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-button {
            width: 100%;
        }
        body#line > main#link > section#link > form > dl#dl-line-link > dd.dd-line-link-body > dl > dd.dd-line-link-group > dl > dd > span.sp-line-link-title {
            display: inline-block;
            width: 20%;
            min-width: 80px;
            text-align: center;
        }
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0 > dd.dd-line-link-active {
            text-align: left;
        }

        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-0 > dd.dd-line-link-order > input,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1 > dd.dd-line-link-type > select,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-1 > dd.dd-line-link-value > input,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 > dd.dd-line-link-title > input,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-2 > dd.dd-line-link-description > textarea,
        body#line > main#link > section#link > form > dl#dl-line-link > * > dl > dd.dd-line-link-group > dl.dl-line-link-group-button {
            width: 70%;
        }

    }


/*  body#line > main#line */
    body#line > main#line > section {
        width: 100%;
        max-width: 540px;
        margin: 20px auto;
    }
    body#line > main#line > section > p.p-line-edit {
        width: 100%;
        text-align: center;
    }
    body#line > main#line > section > p.p-line-edit > button {
        padding: 3px 5px;
        font-size: 10px;
        margin-bottom: 5px;
    }

/*  body#line > main#line > section#line */
    body#line > main#line > section#line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body#line > main#line > section#line > img#img-line-icon {
        border-radius: 100%;
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
    body#line > main#line > section#line > h2#h2-line-title {
        text-align: center;
    }
    body#line > main#line > section#line > p#p-line-description {
        margin: 0 50px;
    }

/*  body#line > main#line > section#line-link */
    body#line > main#line > section#line-link > dl#dl-line-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd {
        background-color: rgba(255, 255, 255, 0.3);
        margin-bottom: 10px;
        width: 500px;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd > a {
        display: flex;
        width: 100%;
    }

    body#line > main#line > section#line-link > dl#dl-line-link > dd > a > img.img-line-link-body-logo {
        margin: 25px;
        width: 100px;
        height: 100px;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values {
        margin: 25px;
        width: 100%;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values > dt,
    body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values > dd {
        margin-bottom: 10px;
        width: 100%;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values > dd:last-child {
        margin-bottom: unset;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values > dd.dd-line-link-body-description {
        font-size: 12px;
    }
    @media screen and (max-width:540px) {
        body#line > main#line > section#line-link > dl#dl-line-link > dd {
            width: 75%;
        }
        body#line > main#line > section#line-link > dl#dl-line-link > dd > a {
            flex-direction: column;
            align-items: center;
        }
        body#line > main#line > section#line-link > dl#dl-line-link > dd > a > img.img-line-link-body-logo {
            margin: 10px;
            width: 50px;
            height: 50px;
        }
        body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values {
            margin: 10px;
        }
        body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values > dt,
        body#line > main#line > section#line-link > dl#dl-line-link > dd > a > dl.dl-line-link-body-values > dd {
            text-align: center;
        }
    }
    


    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-x {
        background-color: rgba(15, 20, 25, 1);
        color: #FFFFFF;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-x:hover {
        background-color: rgba(15, 20, 25, 0.9);
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-instagram {
        /* background-color: rgba(225, 48, 108, 1); */
        background: linear-gradient(to right,
        rgba(247, 207, 0, 1),
        rgba(246, 37, 2, 1) 45%,
        rgba(182, 47, 82, 1) 75%,
        rgba(113, 58, 166, 1));
        color: #FFFFFF;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-instagram:hover {
        /* background-color: rgba(225, 48, 108, 0.9); */
        background: linear-gradient(to right,
        rgba(247, 207, 0, 0.9),
        rgba(246, 37, 2, 0.9) 45%,
        rgba(182, 47, 82, 0.9) 75%,
        rgba(113, 58, 166, 0.9));
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-tiktok {
        background-color: rgba(0, 0, 0, 1);
        color: #FFFFFF;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-tiktok:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-line,
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-line_official {
        background-color: rgba(0, 185, 0, 1);
        color: #FFFFFF;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-line:hover,
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-line_official:hover {
        background-color: rgba(0, 185, 0, 0.9);
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-youtube {
        background-color: rgba(255, 0, 0, 1);
        color: #FFFFFF;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-youtube:hover {
        background-color: rgba(255, 0, 0, 0.9);
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-youtube {
        background-color: rgba(255, 0, 0, 1);
        color: #FFFFFF;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-youtube:hover {
        background-color: rgba(255, 0, 0, 0.9);
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-website {
        background-color: rgba(0, 0, 200, 1);
        color: #FFFFFF;
    }
    body#line > main#line > section#line-link > dl#dl-line-link > dd.dd-line-link-website:hover {
        background-color: rgba(0, 0, 200, 0.9);
    }

/*  body#line > footer */
    body#line > footer > form[action="/line/logout"] {
        display: block;
        text-align: right;
    }
    body#line > footer > form[action="/line/logout"] > span {
        margin: 0 10px;
        cursor: pointer;
    }