main#league > h2 {
    color: #FFFFFF;
    background: #DE4335;
    background: -webkit-linear-gradient(to right, #DE4335, #6D52AB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DE4335, #6D52AB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px 2.5vw;
}

main#league > section {
    padding: 5px 5vw;
}

main#league > section#overview > dl#dl-overviews {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 5vw;
    border: 1px solid;
    background: rgba(255,255,255,0.5);
}

main#league > section#overview > dl#dl-overviews > * {
    margin-bottom: 5px;
}

main#league > section#overview > dl#dl-overviews > *:last-child {
    margin-bottom: unset;
}

main#league > section#trainer > h3 {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


main#league > section#trainer > dl#dl-trainers {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    white-space: nowrap;
    width: auto;
    max-width: fit-content;

}


main#league > section#trainer > dl#dl-trainers > * > dl {
    flex-wrap: nowrap;
    width: fit-content;
}


main#league > section#trainer > dl#dl-trainers > dt.dt-trainers-header > dl {
    background-color: #F4F4F4;
}
main#league > section#trainer > dl#dl-trainers > dd.dd-trainers-body > dl {
    background-color: #FFFFFF;
}



main#league > section#trainer > dl#dl-trainers > * > dl > dt.dt-trainer-id {
    width: 1em;
    max-width: 1em;
    min-width: 1em;
    text-align: right;
}
main#league > section#trainer > dl#dl-trainers > * > dl > dt.dt-trainer-user_name {
    width: 10em;
    max-width: 10em;
    min-width: 10em;
}

main#league > section#trainer > dl#dl-trainers > * > dl > dt.dt-trainer-trainer_name {
    width: 8em;
    max-width: 8em;
    min-width: 8em;
}
main#league > section#trainer > dl#dl-trainers > * > dl > dd.dd-trainer-match,
main#league > section#trainer > dl#dl-trainers > * > dl > dd.dd-trainer-win,
main#league > section#trainer > dl#dl-trainers > * > dl > dd.dd-trainer-lose {
    width: 3em;
    max-width: 3em;
    min-width: 3em;
    text-align: right;
}
main#league > section#trainer > dl#dl-trainers > * > dl > dd.dd-trainer-rate {
    width: 4em;
    max-width: 4em;
    min-width: 4em;
    text-align: right;
}
main#league > section#trainer > dl#dl-trainers > * > dl > dd.dd-trainer-button {
    width: 4em;
    max-width: 4em;
    min-width: 4em;
    text-align: center;
}


main#league > section#form > div#pokemon-trainer-add {
    padding: 10px;
    background: #ECC440;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ECC440, #FFFA8A, #DDAC17, #FFFF95);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ECC440, #FFFA8A, #DDAC17, #FFFF95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main#league > section#form > div#pokemon-trainer-create {
    position: fixed;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.75);
}

main#league > section#form > div#pokemon-trainer-create > div#pokemon-trainer-create-form {
    position: absolute;
    top: 5vh;
    right: 5vw;
    bottom: 5vh;
    left: 5vw;
    width: 90vw;
    height: 70vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
}

main#league > section#form > div#pokemon-trainer-create > div#pokemon-trainer-create-form > :last-child {
    margin-top: auto;
}


main#league > section#form > div#pokemon-trainer-create > div#pokemon-trainer-create-form > form > dl#dl-trainer-form > dd > dl.dl-trainer-form-content {
    display: flex;
    flex-wrap: nowrap;
}

main#league > section#form > div#pokemon-trainer-create > div#pokemon-trainer-create-form > form > dl#dl-trainer-form > dd > dl.dl-trainer-form-content > dt.dt-trainer-form-content-title {
    width: 8em;
}

main#league > section#form > div#pokemon-trainer-create > div#pokemon-trainer-create-form > form > dl#dl-trainer-form > dd > dl.dl-trainer-form-content > dd.dd-trainer-form-content-value {
    width: 12em;
}

main#league > section#form > div#pokemon-trainer-create > div#pokemon-trainer-create-form > form > dl#dl-trainer-form > dd > dl.dl-trainer-form-content > dd.dd-trainer-form-content-value > input[type="text"] {
    width: 10em;
}

main#league > section#form > div#pokemon-trainer-create > div#pokemon-trainer-create-form > form > dl#dl-trainer-form > dd > dl.dl-trainer-form-content > dd.dd-trainer-form-content-submit {
    width: 20em;
    text-align: center;
}


main#league > section#ribon > dl#dl-ribons {
    padding-bottom: unset;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    white-space: nowrap;
    width: auto;
    max-width: fit-content;
    border: 1px solid;
}


main#league > section#ribon > dl#dl-ribons > dt.dt-ribons-header > dl > * {
    color: #FFFFFF;
    background: #6D52AB;
    text-align: center;
}
main#league > section#ribon > dl#dl-ribons > * > dl > dt.dt-trainer_name {
    position: sticky;
    top: 0;
    left: 0;
}

main#league > section#ribon > dl#dl-ribons > dt.dt-ribons-header > dl > dt.dt-trainer_name {
    background: #DE4335;  /* fallback for old browsers */
    background: -webkit-linear-gradient(10deg, #DE4335 0%, #DE4335 50%, #6D52AB 50%, #6D52AB 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(10deg, #DE4335 0%, #DE4335 50%, #6D52AB 50%, #6D52AB 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


main#league > section#ribon > dl#dl-ribons > dd.dd-ribons-body > dl > * {
    background: #FFFFFF;
}

main#league > section#ribon > dl#dl-ribons > dd.dd-ribons-body > dl > dt.dt-trainer_name {
    color: #FFFFFF;
    background: #DE4335;  /* fallback for old browsers */
}



main#league > section#ribon > dl#dl-ribons > * > dl > dt.dt-trainer_name {
    width: 8em;
    max-width: 8em;
    min-width: 8em;
}

main#league > section#ribon > dl#dl-ribons > * > dl > dd {
    width: 3.5em;
    max-width: 3.5em;
    min-width: 3.5em;
    text-align: center;
}




main#league > section#match > dl#dl-matches > dt {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    background: #FA847A;
    background: -webkit-linear-gradient(to right, #FA847A, #9480c4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FA847A, #9480c4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main#league > section#match > dl#dl-matches > dd {
    background: #ebe8f3;
    background: -webkit-linear-gradient(to left, #f3dcda, #ebe8f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f3dcda, #ebe8f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd > dl.dl-match-info > dd > label {
    font-size: 0.5em;
}

main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd > dl.dl-match-info > dd > label:hover {
    cursor: pointer;
}


main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd > dl.dl-match-input > dt.dt-trainer_name {
    width: 7em;
    max-width: 7em;
    min-width: 7em;
}

main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd > dl.dl-match-input > dt.dt-trainer_name > label {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

@media screen and (max-width:720px) {
    main#league > section#match > dl#dl-matches > dd {
        background: unset;
    }
    main#league > section#match > dl#dl-matches > dd > dl.dl-match {
        flex-direction: column;
    }
    main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd {
        width: 100%;
    }


    main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd > * {
        justify-content: center;
        align-items: center;
        padding: unset;
    }

    main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd > dl.dl-match-info {
        background: #ebe8f3;
    }
    main#league > section#match > dl#dl-matches > dd > dl.dl-match > dd > dl.dl-match-input {
        background: #f3dcda;
    }


}