body#edit > main#contact > section {
    margin-bottom: 10px;
}
body#edit > main#contact > section:last-child {
    margin-bottom: unset;
}
body#edit > main#contact > section#post-data > dl.post-data-title {
    display: flex;
    align-items: center;
}
body#edit > main#contact > section#post-data > dl.post-data-title > dd:nth-child(1) {
    width: 10em;
}


/* section#index */
body#edit > main#contact > section#index > dl#dl-contact-index > dt > dl.dl-contact-index-header,
body#edit > main#contact > section#index > dl#dl-contact-index > dd > dl.dl-contact-index-body {
    display: flex;
}

body#edit > main#contact > section#index > dl#dl-contact-index > dt > dl.dl-contact-index-header > dd {
    text-align: center;
}
body#edit > main#contact > section#index > dl#dl-contact-index > * > dl > dd.dd-contact-index-page_path {
    width: 10em;
}

body#edit > main#contact > section#index > dl#dl-contact-index > * > dl > dd.dd-contact-index-page_path {
    width: 10em;
}
body#edit > main#contact > section#index > dl#dl-contact-index > * > dl > dd.dd-contact-index-page_title {
    width: 10em;
}
body#edit > main#contact > section#index > dl#dl-contact-index > * > dl > dd.dd-contact-index-forms {
    width: 5em;
}
body#edit > main#contact > section#index > dl#dl-contact-index > dd > dl.dl-contact-index-body > dd.dd-contact-index-forms {
    text-align: right;
}
body#edit > main#contact > section#index > dl#dl-contact-index > * > dl > dd.dd-contact-index-button {
    width: 12em;
}
body#edit > main#contact > section#index > dl#dl-contact-index > * > dl > dd.dd-contact-index-button > dl.dd-contact-index-button-values {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* section#create */

body#edit > main#contact > section#create > form > dl > * > dl > dt.dt-contact-create-item,
body#edit > main#contact > section#create > form > dl > * > dl > dt.dt-contact-create-item {
    width: 10em;
}
body#edit > main#contact > section#create > form > dl > * > dl > dd.dd-contact-create-value,
body#edit > main#contact > section#create > form > dl > * > dl > dd.dd-contact-create-value {
    width: 30em;
}
body#edit > main#contact > section#create > form > dl > * > dl > dd.dd-contact-create-value > span {
    display: inline-block;
    width: 10em;
}
body#edit > main#contact > section#create > form > dl > * > dl > dd.dd-contact-create-value > input[name="page_path"] {
    width: 15em;
}
body#edit > main#contact > section#create > form > dl > * > dl > dd.dd-contact-create-value > input[name="page_title"] {
    width: 27em;
}
body#edit > main#contact > section#create > form > dl > * > dl > dd.dd-contact-create-value > textarea[name="page_description"] {
    width: 100%;
    height: 5em;
}



/* section#form-index */
body#edit > main#contact > section#form-index > dl > dt > dl.dl-contact-form-index-header,
body#edit > main#contact > section#form-index > dl > dd > dl.dl-contact-form-index-body {
    display: flex;
}


body#edit > main#contact > section#form-index > dl > dt > dl.dl-contact-form-index-header > dd {
    text-align: center;
}
body#edit > main#contact > section#form-index > dl > * > dl > dd.dd-contact-form-index-name {
    width: 10em;
}
body#edit > main#contact > section#form-index > dl > * > dl > dd.dd-contact-form-index-title {
    width: 10em;
}
body#edit > main#contact > section#form-index > dl > * > dl > dd.dd-contact-form-index-type {
    width: 5em;
}
body#edit > main#contact > section#form-index > dl > * > dl > dd.dd-contact-form-index-description {
    width: 20em;
}
body#edit > main#contact > section#form-index > dl > * > dl > dd.dd-contact-form-index-required {
    width: 2em;
    text-align: center;
}

/* section#form */
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd{
    text-align: center;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-active,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-active {
    width: 2em;
    text-align: center;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-name,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-name {
    width: 10em;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-title,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-title {
    width: 10em;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-type,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-type {
    width: 10em;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-required,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-required {
    width: 4em;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-description,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-description {
    width: 15em;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-order,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-order {
    display: none;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dt > dl > dd.dd-contact-form-button,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-button {
    width: 6em;
}

body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-name > input,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-title > input,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-type > select,
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-required > input {
    width: 100%;
}
body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd > input[type="checkbox"] {
    margin: unset;
}

body#edit > main#contact > section#form > form > dl#dl-contact-form > dd > dl > dd > dl > dd.dd-contact-form-description > textarea {
    width: calc(100% - 4px);
}
