/* section#index */
body#edit > main#multiple > section#index > dl > dt > dl.dl-multiple-index-header > dd {
    text-align: center;
}

body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple-index-id {
    width: 2em;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple-index-page_path {
    width: 10em;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple-index-page_title {
    width: 15em;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple-index-articles {
    width: 5em;
}
body#edit > main#multiple > section#index > dl > dd > dl.dl-multiple-index-body > dd.dd-multiple-index-articles {
    text-align: right;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple-index-button {
    width: 10em;
}

/* section#create */

body#edit > main#multiple > section#create > form > dl > * > dl > dt.dt-multiple-create-item,
body#edit > main#multiple > section#create > form > dl > * > dl > dt.dt-multiple-create-item {
    width: 10em;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-value,
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-value {
    width: 30em;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-value > span {
    display: inline-block;
    width: 10em;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-value > input[name="page_path"] {
    width: 15em;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-value > input[name="page_title"] {
    width: 27em;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-value > textarea[name="page_description"] {
    width: 100%;
    height: 5em;
}


body#edit > main#multiple > section#index > dl > dt > dl.dl-multiple_article-index-header > dd {
    text-align: center;
}

/* multiple_article */
/* section#index */
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple_article-index-path {
    width: 10em;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple_article-index-title {
    width: 15em;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple_article-index-body {
    width: 25em;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple_article-index-publish {
    width: 5em;
}
body#edit > main#multiple > section#index > dl > * > dl > dd.dd-multiple_article-index-button {
    width: 10em;
}

/* section#create */

body#edit > main#multiple > section#create > form > dl > * > dl > dt.dt-multiple-create-multiple_article-item {
    width: 10em;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-multiple_article-value {
    width: 30em;
}

body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-multiple_article-value > span {
    display: inline-block;
    width: fit-content;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-multiple_article-value > input[name="article_path"] {
    width: 15em;
}
body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-multiple_article-value > input[name="article_title"] {
    width: 27em;
}

body#edit > main#multiple > section#create > form > dl > * > dl > dd.dd-multiple-create-multiple_article-value > textarea {
    width: 100%;
    height: 20em;
}

