/* section#index */
body#edit > main#user > section#index > dl#dl-user-index > dt > dl.dl-user-index-header > dd {
    text-align: center;
}

body#edit > main#user > section#index > dl#dl-user-index > * > dl > dd.dd-user-index-id {
    width: 2em;
}
body#edit > main#user > section#index > dl#dl-user-index > dd > dl.dl-user-index-body > dd.dd-user-index-id {
    text-align: right;
}
body#edit > main#user > section#index > dl#dl-user-index > * > dl > dd.dd-user-index-email {
    width: 15em;
}
body#edit > main#user > section#index > dl#dl-user-index > * > dl > dd.dd-user-index-name {
    width: 10em;
}
body#edit > main#user > section#index > dl#dl-user-index > * > dl > dd.dd-user-index-birthday {
    width: 6em;
}
body#edit > main#user > section#index > dl#dl-user-index > * > dl > dd.dd-user-index-category {
    width: 10em;
}

/* section#show */

body#edit > main#user > section#show > dl > dt > dl.dl-user-show-header > dd,
body#edit > main#user > section#show > dl > dd > dl.dl-user-show-body > dd {
    text-align: center;
}

body#edit > main#user > section#show > dl#dl-user-show > * > dl > dd.dd-user-show-id {
    width: 2em;
}
body#edit > main#user > section#show > dl#dl-user-show > * > dl > dd.dd-user-show-email {
    width: 15em;
}
body#edit > main#user > section#show > dl#dl-user-show > * > dl > dd.dd-user-show-password {
    width: 6em;
}

body#edit > main#user > section#show > dl#dl-user-show-name > * > dl > dd.dd-user-show-type {
    width: 3em;
}
body#edit > main#user > section#show > dl#dl-user-show-name > * > dl > dd.dd-user-show-last_name {
    width: 8em;
}
body#edit > main#user > section#show > dl#dl-user-show-name > * > dl > dd.dd-user-show-first_name {
    width: 8em;
}
body#edit > main#user > section#show > dl#dl-user-show-name > * > dl > dd.dd-user-show-middle_name {
    width: 8em;
}
body#edit > main#user > section#show > dl#dl-user-show-name > * > dl > dd.dd-user-show-maiden_name {
    width: 8em;
}

body#edit > main#user > section#show > dl#dl-user-show-name-arrange > * > dl > dt {
    width: 8em;
    text-align: center;
}
body#edit > main#user > section#show > dl#dl-user-show-name-arrange > * > dl > dd {
    width: 12em;
    text-align: center;
}



body#edit > main#user > section#show > dl#dl-user-show-birth > * > dl > dd.dd-user-show-birth-year,
body#edit > main#user > section#show > dl#dl-user-show-birth > * > dl > dd.dd-user-show-birth-month,
body#edit > main#user > section#show > dl#dl-user-show-birth > * > dl > dd.dd-user-show-birth-day,
body#edit > main#user > section#show > dl#dl-user-show-birth > * > dl > dd.dd-user-show-birth-hours,
body#edit > main#user > section#show > dl#dl-user-show-birth > * > dl > dd.dd-user-show-birth-minutes {
    width: 4em;
}

body#edit > main#user > section#show > dl#dl-user-show-birth > * > dl > dd.dd-user-show-birth-place {
    width: 5em;
}


body#edit > main#user > section#show > dl#dl-user-show-category > * > dl > dd.dd-user-show-category,
body#edit > main#user > section#show > dl#dl-user-show-category > * > dl > dd.dd-user-show-category-role {
    width: 8em;
}

body#edit > main#user > section#show > dl#dl-user-show-subdirectory_role > * > dl > dd.dd-user-show-subdirectory_role-subdirectory,
body#edit > main#user > section#show > dl#dl-user-show-subdirectory_role > * > dl > dd.dd-user-show-subdirectory_role-role {
    width: 20em;
}


/* section#create */

body#edit > main#user > section#create > form > dl > dt > dl.dl-user-create-header > dd,
body#edit > main#user > section#create > form > dl > dd > dl.dl-user-create-body > dd {
    text-align: center;
}


body#edit > main#user > section#create > form > dl#dl-user-create > * > dl > dd.dd-user-create-id {
    width: 2em;
}
body#edit > main#user > section#create > form > dl#dl-user-create > * > dl > dd.dd-user-create-email,
body#edit > main#user > section#create > form > dl#dl-user-create > * > dl > dd.dd-user-create-email > input {
    width: 15em;
}
body#edit > main#user > section#create > form > dl#dl-user-create > * > dl > dd.dd-user-create-password,
body#edit > main#user > section#create > form > dl#dl-user-create > * > dl > dd.dd-user-create-password > input {
    width: 15em;
}

body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-type {
    width: 3em;
}
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-last_name,
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-last_name > input {
    width: 8em;
}
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-first_name,
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-first_name > input {
    width: 8em;
}
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-middle_name,
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-middle_name > input {
    width: 8em;
}
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-maiden_name,
body#edit > main#user > section#create > form > dl#dl-user-create-name > * > dl > dd.dd-user-create-maiden_name > input {
    width: 8em;
}

body#edit > main#user > section#create > form > dl#dl-user-create-name-arrange > * > dl > * {
    text-align: center;
}

body#edit > main#user > section#create > form > dl#dl-user-create-name-arrange > * > dl > dt {
    width: 8em;
}
body#edit > main#user > section#create > form > dl#dl-user-create-name-arrange > * > dl > dd,
body#edit > main#user > section#create > form > dl#dl-user-create-name-arrange > * > dl > dd > input {
    width: 12em;
}



body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-year,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-year > input,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-month,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-month > input,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-day,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-day > input,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-hours,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-hours > input,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-minutes,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-minutes  > input {
    width: 4em;
}

body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-place,
body#edit > main#user > section#create > form > dl#dl-user-create-birth > * > dl > dd.dd-user-create-birth-place > input {
    width: 5em;
}


body#edit > main#user > section#create > form > dl#dl-user-create-category > * > dl > dd.dd-user-create-category,
body#edit > main#user > section#create > form > dl#dl-user-create-category > * > dl > dd.dd-user-create-category-role {
    width: 8em;
}

body#edit > main#user > section#create > form > dl#dl-user-create-subdirectory_role > * > dl > dd.dd-user-create-subdirectory_role-subdirectory {
    width: 8em;
}
body#edit > main#user > section#create > form > dl#dl-user-create-subdirectory_role > * > dl > dd.dd-user-create-subdirectory_role-role {
    width: 20em;
}
