main#astrology > section#result > dl#results > dd > dl#result-planet-signs > dd > dl.planet-sign > dt.result-planet-sign-planet {
    width: 100px;
}

main#astrology {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#astrology > h2 {
    text-align: center;
}


main#astrology > h2,
main#astrology > section {
    min-width: 480px;
    width: 100%;
    max-width: 600px;
}

main#astrology > section > h3 {
    color: #FFFFFF;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
main#astrology > section#form > form > dl#dl-forms,
main#astrology > section#result > dl#dl-results {
    color: #FFFFFF;
    background: #232526;
    background: -webkit-linear-gradient(to top, #232526, #2C5364);
    background: linear-gradient(to top, #232526, #2C5364);
    margin: 5px;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
}

main#astrology > section#form > form > dl#dl-forms > dd,
main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value > dl > dd,
main#astrology > section#result > dl#dl-results > dd {
    margin: 10px 0;
}

main#astrology > section#form > form > dl#dl-forms > dd > dl > dt.dt-astrology-form-title,
main#astrology > section#result > dl#dl-results > dd > dl > dt.dt-astrology-result-title {
    font-size: 20px;
    font-weight: bold;
}

/* section#form */
main#astrology > section#form > form > dl#dl-forms > dd > dl > dt.dt-astrology-form-title {
    font-size: 20px;
    font-weight: bold;
    width: 150px;
}
main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value {
    font-size: 18px;
}
main#astrology > section#form > form > dl#dl-forms > dd.dd-astrology-form-submit {
    width: 100%;
    text-align: center;
}

main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value input,
main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value select {
    color: #000000;
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value > dl.dl-astrology-form-option > dt.dt-astrology-form-option-title{
    width: 130px;
    font-weight: bold;
}
main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value > dl.dl-astrology-form-option > dt.dt-astrology-form-option-title,
main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value > dl > dd.dd-astrology-form-option-value{
    font-size: 16px;
}



/* seciton#result */

main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign:last-child {
    margin-bottom: unset;
}


main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign > dt.result-planet-sign-planet {
    font-size: 18px;
    width: 10em;
}

main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign > dd.result-planet-sign-sign {
    font-size: 18px;
    width: 6em;
}

main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign > dd.result-planet-sign-degree {
    width: 3em;
}



@media screen and (max-width:720px) {
    main#astrology > h2,
    main#astrology > section {
        min-width: unset;
        width: 100%;
    }
    main#astrology > section#form > form > dl#dl-forms > dd > dl > dt.dt-astrology-form-title {
        width: 100%;
    }

    main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: unset;
    }
    main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign > dt,
    main#astrology > section#result > dl#dl-results > dd > dl#result-planet-signs > dd > dl.planet-sign > dd {
        text-align: center;
        width: 100%;
    }
    
    
    /* main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value > dl.dl-astrology-form-option{
        padding: 0 20px;
    }

    main#astrology > section#form > form > dl#dl-forms > dd > dl > dd.dd-astrology-form-value > dl.dl-astrology-form-option > dt.dt-astrology-form-option-title{
        width: 100%;
    } */
}
